@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Roboto:300,400,500,700');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.7;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #1d2025;
    margin: 0px;
}
a{
    text-decoration: none;
     color: #ffc600 ;
    transition: all 0.4s ease;
    font-weight: 500;
}

a:hover{
    text-decoration: none;
    color: white;
}

.section-padding{
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-padding1{
    padding-top: 100px;
}




.btn{
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #ffc600;
    display: inline-block;
    font-size: 16px;
    transition: all 0.4s linear;
     color: #07294d;
     cursor: pointer;

}


.btn-brand{
    background-color: #ffc600;
    transition: all 0.5s ease;
    border-radius: 10px;
    font-weight: bold;
}
.btn-brand:hover{
    color: #ffc600;
    border-color:#ffc600 ;
    background-color: #07294d;
}

.bg_cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.section-padding{
    padding-top: 100px;
    padding-bottom: 100px;
}


/*=====================================================navbar section========================================*/
.navbar{
    background-color:white;
}

.navbar .nav-item .nav-link{
    color: black;
    font-size: 18px;
    text-transform: uppercase;

}

.navbar .nav-item .nav-link.active{
    color: gold;
    font-weight: 900;
}

.navbar .nav-item .nav-link:hover{
    color: gold !important;
}

.dropdown-item:hover{
    color: gold;
}

.dropdown:hover .dropdown-menu{
    display: block;
}






/*=====================================================about section========================================*/
#abt:after{
    content: '';
    width: 70px;
    height: 4px;
    display: block;
    background-color: gold;
}
#abt{
    color: #07294d;
}

#about{
    background: url(../images/about/bg-1.png);
    background-repeat: no-repeat;
    background-position: right;
}


/*=====================================================topnav section========================================*/
#topnav{
    .header-contact{
        a{
            color: white;
        }
        i{
            color: white;
        }
    }
}

/*=====================================================nav dropdown section========================================*/
.dropdown{
    .dropdown-menu{
        
        
        .dropdown-item.active{
            color: gold;
            font-weight: 900;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

        }
        .dropdown-item{
            background-color: #07294d;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    &:hover{
        color: #ffc600 !important;
    }
           
        }
        .li{
            text-transform: uppercase;
        }
    }
}


/*=====================================================carousel section========================================*/
.c-img{
    height: 60vh;
}

.c-overlay{
    filter: brightness(0.7);
}

// .carousel-inner{
//     position: relative;
    
//     .carousel-caption{
//         position: absolute;
//         left: -400px;
//         top:70px;
//         p{
            
//                 max-width: 500px;
//                 color: white;
//                 margin: auto;
//         }
//         h2{
//             color: white;
//     font-size: 40px;
//     font-weight: 600;
//         }
//     }
// }
@media (max-width:576px) {
    .carousel-inner{
        position: relative;
    }
    .carousel-caption{
        position: absolute !important;
        left: 2px !important;
        top:14px !important;
    }
    .carousel-caption p{
        display: none;
    }
}

#A h3:hover{
    color: #ffc600;
}


/*=====================================================scholarship section========================================*/
#scholarship{

    #scholarship1{
        background-color: #07294d;
        padding:50px;

        h3{
            color: white;
            font-weight: 600;
            font-size: 30px;
        }
        p{
            color: white;
        }
        
    }
    

    #scholarship2{
        background-color: #07294dde;
        padding:50px;

        h3{
            color: white;
            font-weight: 600;
            font-size: 30px;
        }
        p{
            color: white;
        }
        

    }
}

/*=====================================================course section========================================*/
#course:after{
    content: '';
    width: 70px;
    height: 4px;
    display: block;
    background-color: gold;
}

#our_course{
    #course{
        color: #07294d;
    }
    .card{
        position: relative;
        .price{
            span{
                color:#07294d;
                font-size: 20px;
                font-weight: bolder;
                width: 70px;
                height: 70px;
                background-color: #ffc600;
                border-radius: 100px;
                padding: 15px;
                position: absolute;
                left: 250px;
                top: 229px;
            }
        }
        #href{
            
            h4:hover{
                color: #ffc600;
            }
        }
    }
}


/*=====================================================facilities section========================================*/
#facilities:after{
    content: '';
    width: 70px;
    height: 4px;
    display: block;
    background-color: gold;
}

#_facilities{
    #facilities{
        color: #07294d;
    }
    .fact{
        position: relative;

       
        #text{
            background-color: white;
            padding: 15px 60px;
            border-radius: 5px;
            position: absolute;
            left: 30px;
            top: 200px;
            a{
                h6{
                    font-weight: 900;
                }
                h6:hover{
                    color: #ffc600;
                }
            }
        }
    }
}

/*=====================================================latest section========================================*/
.late:after{
    content: ' ';
    width: 70px;
    height: 4px;
    background-color: #ffc600;
    display: block;
}

#latest{
    .late{
        color: #07294d;
    }
    .late1{
        .late-text{
            a{
                h4{
                    &:hover{
                        color: #ffc600;
                    }
                }
            }
        }
    }
    
        .latecol2-text{
            a{
                h4{
                    &:hover{
                        color: #ffc600;
                    }
                }
            }
        }
    
}


.footer-top{
    .list-inline{
        .list-inline-item{
            a{
                i{
                    color: white;
                    background-color: #021d3a;
                    padding: 10px;
                    border-radius: 50px;

                    &:hover{
                        background-color: #ffc600;
                        color: black;
                    }
                }
            }
        }
    }

    .footer-link{
        #list{
            li{
                a{
                    color: white;
                    &:hover{
                        color: #ffc600;
                    }
                }
            }
        }
    }
}





    
/*=====================================================Design section========================================*/
body{
    background-color: #2125293f;
}
#cat_section{
    .cat{
        .cat_img{
            position: relative;
        }

        .cat_text{
            position: relative;
            left: 10px;
            bottom: 70px;
            h5{
                color: white;
                transition: 0.2s ease-in-out;
                &:hover{
                    color: #ffc600;
                }
            }
        }
        
    }

    #form{
        input[type=text],input[type=email],input[type=number]{
            height: 50px;
            width: 400px;
            padding: 20px;
            border: none;

            
        }

        input:focus{
            outline: none;
        }

    }
}


/*=====================================================Category section========================================*/

   .course-sect{
    background-color: #021d3a;
    width:40%;
    text-align: center;
    padding: 40px;
    position: relative;
    left: 700px;
    bottom: 145px;

    h5{
        color: white ;
    }
   }

/*=====================================================Counting section========================================*/
#counting{
    background:linear-gradient(to right,#021d3ab6,#021d3aa2), url(../images/bg-2.jpg);
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

/*=====================================================Counting2 section========================================*/
#count2{
    background-color: white;

    .count-bg{
        background:linear-gradient(to right,#021d3a3a,#021d3aea), url(../images/bg-3.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
    color: white ;

        .count-text2{
            a{
                h3{
                    &:hover{
                        color: #ffc600 !important;
                    }
                }
            }
        }


    }
}

/*=====================================================footer section========================================*/
#footsection{
    position: relative;
    #last-child{
        position: absolute;
        left: 1230px;
        top: 200px;
    }
}








/*=====================================================INDEX3 section========================================*/

#index3_hero{
    background: url(../images/slider/s-3.jpg);
    filter: brightness(0.8);
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    

    .index3_text{
        background-color: #021d3a;
        padding: 80px;
        width: 70%;
        

        h2,h5{
            color: white;
        }

        .index3_button{
            width: 70%;
            .input-group{
                margin-left: 100px;
                
            }
        }
    }




}
@media (max-width:576px) {
    .index3_text .index3_button{
        width: 100%;
    }
    
    
}


 
/*=====================================================Design section========================================*/
#index3_design{
    .cat{
        .cat_img{
            position: relative;
        }

        .cat_text{
            position: relative;
            left: 10px;
            bottom: 70px;
            h5{
                color: white;
                transition: 0.2s ease-in-out;
                &:hover{
                    color: #ffc600;
                }
            }
        }
        
    }

   
}



/*=====================================================index4 section========================================*/
.c-img{
    height: 80vh;
}
.c-overlay{
    filter: brightness(0.7);
}





 
/*=====================================================ABOUT.HTML section========================================*/

#about_hero{
    background-image:linear-gradient(#021d3a,#021d3aad), url(../images/page-banner-1.jpg);
    min-height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*=====================================================privacy section========================================*/
#privacy{
    ul{
        li{
            a{
                h5{
                    &:hover{
                        color: #ffc600;
                    }
                }
            }
        }
    }
}


/*=====================================================faq section========================================*/
#accordionExample{
    #accorr_btn{
       background-color: #021d3a;
       small{
        color: white;
       }
       }
    }


/*=====================================================coursehtml section========================================*/
#course_2{
    .course_intro{
        .course_form{
                input{
                    background-color: red;
                    width: 150px !important;
                }
                button{
                    i{
                        background-color: red;
                        border: none;
                    }
        }
            
        }
    }
}


